npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache/
.svelte-kit/

.env
.env.*
!.env.example

node_modules/
dist/
dist-electron/

build/
release-builds/
electron-builder.json

.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json

*.tsbuildinfo

